

<div class=' p-0 d-flex justify-content-center align-items-center' style="background: url(<%= @article.image_url %>); background-size : cover; height: 80vh " >


  <div class="pt-5 text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2); width: 80%; height: 50%">

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.user.username %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>


  <% if user_signed_in?  %>
    <% if @article.liked?(current_user) %>
    <button class='btn btn-secondary disabled'><%=  @article.vote.count  %></button>
    <% else %>

      <%= link_to "Vote", vote_path(@article), method: :put, class:'btn btn-success' %>
    <% end %>
  <% end %>

<% if current_user && current_user.username == @article.user.username %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', category_path(@article.category_id), class:'btn btn-primary' %>



</div>
</div>