

<div class=' p-0 d-flex justify-content-center align-items-center' style="background: url(<%= @article.image_url %>); background-size : cover; height: 80vh " >


  

<div class="card text-center" style="width:50%">
  <div class="card-header">
    <%= @article.user.username %>

  </div>
  <div class="card-body" >
    <h5 class="card-title"><%= @article.title %></h5>
    <p class="card-text"><%= @article.body %></p>
  </div>
<%= btnacticles %>
<%= edit %>

<%= link_to 'Back', category_path(@article.category_id), class:'btn btn-primary' %>

</div>





 





</div>