
<% @most_voted.each do |j| %>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag j.image_url, class:"d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
          <h5><%= j.title %></h5>
        </div>
    </div>
  </div>
</div>
<% end %>


<div class="row m-0" style="height: 200px; width: 100%">
  <%  @categories.each do |j| %>

    <div class='col-3 py-3 d-flex flex-column justify-content-between text-white' style="background: url(<%= j.articles.ordered_by_most_recent.first.image_url %>); background-size : cover " >
        <%= link_to j.name, category_path(j.id), class:'text-warning' %>

        <%= j.articles.ordered_by_most_recent.first.title %>




  </div>
  <% end %>
</div>
