

<% @most_voted.each do |j| %>

  <%= j.title %>
  <%= image_tag j.image_url %>

<% end %>





<div class="row m-0" style="height: 200px; width: 100%">
  <%  @categories.each do |j| %>

    <div class='col-3 p-0 h-100 d-inline-block ' style="background: url(<%= j.articles.ordered_by_most_recent.first.image_url %>); background-size : cover " >

      <%= j.articles.ordered_by_most_recent.first.title %>
      <%= link_to j.name, category_path(j.id) %>


  </div>
  <% end %>
</div>
